@import "../Home/myconst.scss";

.button {
    border-radius: 3px;
    border: 1px solid $border-color;
    font-size: $font;
    font-family: $font-family;
    margin: 0 auto;

    &:hover {
        cursor: pointer;
    }

    &-wrapper {
        display: flex;
        margin-top: 15px;
    }

}