@import "../Home/myconst.scss";

.modal {
    width: 516px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $background;
    overflow: hidden;
    color: #fff;
    font-family: $font-family;

    &-header {
        display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: $background-header;
    max-height: 70px;
    }

    &-content{
        padding: 25px;
    }

    &-footer{
        display: flex;
        justify-content: center;
        gap: 10px;
      }

      &-wrapper {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
    }
}

.active {
    transform: scale(1);
}


.title {
    font-size: 22px;
    line-height: 60px;
    font-weight: normal;
}

.header-close {
    width: 20px;
    height: 20px;
    color: #312E2E;
    &:hover{
        cursor: pointer;
    }
}

.text{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 30px;
    font-size: $font;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: $btn-color;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size: $font;
    line-height: 30px;
    &:hover{
        cursor: pointer;
    }
}
